name: Despliegue Continuo a Vercel

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  test_and_deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout del Repositorio
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' 

      - name: Instalar Dependencias
        run: npm install

      - name: Ejecutar Pruebas y Generar Cobertura
        run: npm test
        
      - name: Subir informe de Cobertura
        uses: actions/upload-artifact@v4
        with:
          name: lcov-report
          path: ./lcov-report
          if-no-files-found: ignore 

      - name: Desplegar a Vercel
        uses: amondnet/vercel-action@v25
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ secrets.VERCEL_ORG_ID }}
          vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID }}
          alias-domains: |
            numeros-romanos-api-stefaniabrts.vercel.app
          github-token: ${{ secrets.GITHUB_TOKEN }}



